a {
    text-decoration: none;
}

#roots, #roots ul, #roots li {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none;
}

#roots ul {
    margin: 0 0 0 0.5em;
}

#roots button:first-child {
    margin-left: 5px;
}

#roots > li:not(:only-child), li li {
    position: relative;
}

#roots li span {
    margin-left: 20px;
}

#roots a {
    margin-left: 5px;
}

#roots a:hover {
    display: block;
}

#roots li:not(:last-child) {
    border-left: 1px solid #ccc;
}

#roots li li:before, #roots > li:not(:only-child):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1em;
    height: 0.5em;
    border-bottom: 1px solid #ccc;
}

#roots li:last-child:before {
    width: calc(1.1em - 1px);
    border-left: 1px solid #ccc;
}

